main{
	font-size: 120%;
	
}

h2{
	margin-top:-5px;
	text-align: center;
}

#compareform{
	padding-top: 5px;
	margin-left:15px;
	float:left;
	width: 180px;
}

label{
	padding-left: 5px;
}

#comboind{
	font-size: 110%;
	width: 180px;
	height: 28px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.combopais{
	font-size: 110%;
	width: 105px;
	height: 28px;
}

.color{
	position:relative;
	top:9px;
	left: 10px;
	width: 60px;
	height: 28px;
}

#comparetable {
	float: left;
	margin-left: 50px;
	position: relative;
	top:72px;
	border-collapse:collapse;
}

th{
	background-color:#444;
	color:white;
}

table,td,th{
	border: 1px solid #444;
}

td,th
{
	padding:5px;
}

tr{
	height: 34px;
}

td{
	
	color: #222;
}

#graph{
	margin-left: auto ;
  	margin-right: auto ;
}

#graphdiv{
	text-align: center;
	position: relative;
  	top: 30px;
	clear:both;
}

