main{
	font-size: 120%;
	height: 500px;
	
}

h2{
	margin-top:-5px;
	text-align: center;
}

#compareform{
	padding-top: 5px;
	margin-left:15px;
	float:left;
	width: 220px;
}

label{
	padding-left: 5px;
}

#comboind{
	font-size: 110%;
	width: 220px;
	height: 28px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.combopais{
	font-size: 110%;
	width: 145px;
	height: 28px;
}

.color{
	position:relative;
	top:9px;
	left: 10px;
	width: 60px;
	height: 28px;
}

#comparetable {
	margin-top: 50px;
	border-collapse:collapse;
	width: 220px;
}


th{
	background-color:#444;
	color:white;
}

table,td,th{
	border: 1px solid #444;
}

td,th
{
	padding:5px;
}

tr{
	height: 34px;
}

td{
	
	color: #222;
}

#graph{
	margin-left: auto ;
  	margin-right: auto ;
}

#graphdiv{
	width: 900px;
	height: 550px;
	text-align: center;
	margin-top: 10px;
	float: right;
}

#graphdiv p{
	position: relative;
	top: 100px;	
}
