@(countries: List[Country], countryForm: Form[Country])

@import play.i18n._
@import helper._

@main(Messages.get("list.countries")) {
<meta charset="UTF-8">


<h1>@Messages.get("countries")</h1>

<input type="text" id="searchCountry" placeholder="@Messages.get("filter")" onkeyup="filter('searchCountry', 'crudtable', [0]);"/>
<br>
<div class="scrolldiv">
<table class="crudtable">
<tr>
<th>@Messages.get("country")</th>
<th>@Messages.get("remove")</th>
</tr>
@for(country <- countries) { 
  <tr><td>@country.getName()</td>
      <td>@helper.form(routes.Admin.deleteCountry(country.getCode())) {
               <input type="image" 
                      src="@{routes.Assets.at("images/delete.gif")}" 
                      alt='@{Messages.get("delete.country")}'>
         }
      </td>
  </tr>
   
}
</table>
</div>

<h2>@{Messages.get("add.country")}</h2>
    
	@form(action = routes.Admin.newCountry()) {
	
       
        @inputText(countryForm("name")) 
        
        <input type="submit" value="@{Messages.get("create")}">
        
    }    
    
}
