@(resources: List[UsersResources])

@import play.i18n._

@main(Messages.get("accessdata")) {

	<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/downloads.css")' >
	<meta charset="UTF-8">

	<h1>@Messages.get("data.title")</h1>

	@if(!resources.isEmpty()){
		@for(res <- resources) { 
			<div class="download">
				<div class="info"> <p>@Messages.get("data.msg1") <strong class="username">@res.getOwner().getUserName()</strong> @Messages.get("data.msg4") <i class="date">@res.getFormattedDate()</i></p></div>
				 
				<div class="fileinfo">
					<p>@Messages.get("data.msg2"): <strong class="filename">@res.getName()</strong></p>
					<p>@Messages.get("data.msg3"): <strong class="filetype">@res.getContentType()</strong></p>
					
					<a href="@routes.Application.download(res.getId())">
						<h3>@Messages.get("data.download")</h3>
						<img class="button" src='@routes.Assets.at("images/download.png")' alt="Download"/>
					</a>
				</div>
				 
				<embed class="embed" src="@routes.Assets.at(res.getFilePath())" @(if(res.isAudioVideo()) "autostart=false" else "") type="@res.getContentType()"/>
				
			</div>
		}
	}else{
		<p>@Messages.get("data.empty") <a href="@routes.UserController.showUpload">@Messages.get("data.empty2")</a></p>
	}
}
