@(observations: List[Observation], countries: List[Country], indicators: List[Indicator])

@import play.i18n._

@main("ObservaTerra") {
<h1>@Messages.get("Wellcome")</h1>
<h2>@Messages.get("list.observations")</h2>

<table>
<tr>	
<th>@Messages.get("Country")</th>
<th>@Messages.get("Indicator")</th>
<th>@Messages.get("Value")Value</th>
</tr>
@for(observation <- observations) {
	<tr>
	<td>@observation.getCountry().getName()</td>
	<td>@observation.getIndicator().getName()</td>
	<td>@observation.getObsValue()</td>
	</tr> 
}
</table>

<h2>@Messages.get("Bar.chart")</h2>
<ul>
@for(indicator <- indicators) {

 <li><a href="@routes.Application.bars(indicator.getCode())">@indicator.getName()</a></li>
	
}
</ul>

}
