@(indicators: List[Indicator], form: Form[Indicator])

@import play.i18n._

@main(Messages.get("list.indicators")) {
<meta charset="UTF-8">

<h1>@Messages.get("indicators")</h1>
<div style="height:300px;overflow:scroll;">
<table>
@for(ind <- indicators) { 
  <tr><td>@ind.getName()</td>
      <td>
      <td>@helper.form(routes.Admin.deleteIndicator(ind.getCode())) {
               <input type="image" 
                      src="@{routes.Assets.at("images/delete.gif")}" 
                      alt='@{Messages.get("delete.indicator")}'>
         }
      </td>
  </tr>
   
}
</table>
</div>
<h2>@{Messages.get("add.indicator")}</h2>
    
	@helper.form(action = routes.Admin.newIndicator()) {
	 
	    @helper.inputText(form("name")) 
        
        <input type="submit" value="@{Messages.get("create")}">
        
    }    
    
}
