@(form: Form[Application.Login])

@import play.i18n._ 


<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
  <link rel="shortcut icon" href='@routes.Assets.at("images/favicon.png")'>
  
</head>
<body>
  <div class="login">
  
  	<form id="back" action="@routes.Application.index">
		<input type="submit" value="X" >
	</form>
  	
    <h1>@Messages.get("login2web")</h1>
   @helper.form(routes.Application.authenticate) {
	<h1>@Messages.get("signin")</h1>
	
	@if(form.hasGlobalErrors) {
    <p class="error">
        @form.globalError.message
    </p>
    }

	<p>
		<input type="text" name="user" placeholder="@Messages.get("user")" required="true" value="@form("user").value">
	</p>
	<p>
		<input type="password" name="password" required="true" placeholder="@Messages.get("password")">
	</p>
	<p>
		<input type="submit" value="@Messages.get("login")">
	</p>
	}
	
  </div>
</body>
</html>