@(form: Form[Application.Login])
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login Form</title>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
  
</head>
<body>
  <div class="login">
    <h1>Login to Web App</h1>
   @helper.form(routes.Application.authenticate) {
	<h1>Sign in</h1>
	
	@if(form.hasGlobalErrors) {
    <p class="error">
        @form.globalError.message
    </p>
    }

	<p>
		<input type="text" name="user" placeholder="User" value="@form("user").value">
	</p>
	<p>
		<input type="password" name="password" placeholder="Password">
	</p>
	<p>
		<input type="submit" value="Login">
	</p>
	}
  </div>
</body>
</html>