@(pais1:List[valoresMedios], pais2:List[valoresMedios],primero:String,segundo:String)

@import play.i18n._
@import helper._

@main(Messages.get("list.countries")) {

   <head>
   </head>
   <body>
   <h1>Primer Pais @primero</h1>
   @for(vm <- pais1){
		
		<tr>
			<td>@vm.getIndicador()  </td>
			<td>@vm.getValor()</td>
		</tr>
		<br> 
		}
   <h1>Segundo Pais @segundo</h1>
   @for(vm <- pais2){
		
		<tr>
			<td>@vm.getIndicador() </td>
			<td>@vm.getValor()</td>
		</tr>
		<br> 
		}
   
   </body> 
}