@(observations: List[Observation], 
  countries: List[Country], 
  indicators: List[Indicator],
  form: Form[Observation],mensaje:String)

@import play.i18n._
@import helper.twitterBootstrap._

@main(Messages.get("list.observations")) {
<meta charset="UTF-8">

<h1>@Messages.get("observations")</h1>

<input type="text" id="searchObs" placeholder="@Messages.get("filter")" onkeyup="filter('searchObs', 'crudtable', [0,1,2,3]);"/>
<br>
<div class="scrolldiv">
<table class="crudtable">
<tr>
<th>@Messages.get("country")</th>
<th>@Messages.get("indicator")</th>
<th>@Messages.get("year")</th>
<th>@Messages.get("value")</th>
<th>@Messages.get("remove")</th>
</tr>
@for(obs <- observations) { 
  <tr>
  <td>@obs.getCountry().getName()</td>
  <td>@obs.getIndicator().getName()</td>
  <td>@obs.getIndicator().getYear()</td>
  <td>@obs.getObsValue()</td>
  <td>@helper.form(routes.Admin.deleteObservation(obs.getId())) {
               <input type="image" 
                      src="@{routes.Assets.at("images/delete.gif")}" 
                      alt='@{Messages.get("delete.observation")}'>
         }
   </td>
  </tr>
   
}
</table>
</div>

<h2>@{Messages.get("add.observation")}</h2>
    
	@helper.form(action = routes.Admin.newObservation()) {
	
        @helper.inputText(form("value"))

         <select name="countryId">
         @for( country <- countries) {
         	<option value="@country.getCode()">@country.getName()</option>
         }
        </select>
        
        <select name="indicatorId">
         @for( indicator <- indicators) {
         	<option value="@indicator.getCode()">@indicator.getName()</option>
         }
        </select> 

        <input type="submit" value="@{Messages.get("create")}">
        <h3>@mensaje</h3>
        
    }

<h2>@Messages.get("upload.json.file")</h2>


@helper.form(action = routes.API.uploadJSON, 
	  'enctype -> "multipart/form-data") {
    
    <input type="file" name="JSON" accept=".json">
    
    <p>
        <input type="submit">
    </p>
    
}

<h2>@Messages.get("upload.csv.file")</h2>


@helper.form(action = routes.API.uploadCSV, 
	  'enctype -> "multipart/form-data") {
    
    <input type="file" name="csv" accept=".csv">
    
    <p>
        <input type="submit">
    </p>
    
} 

    
}
