@(userForm: Form[User]) 
@import play.i18n._ 
@import helper._
@main("Registrar") {



<h2>Formulario de registro</h2>

@helper.form(routes.UserController.newUser) {

@inputText(userForm("user"),'required -> "true", 'size ->20) 
@inputText(userForm("name"),'required -> "true", 'size ->20)
@inputText(userForm("surname"),'required -> "true", 'size ->20)
@inputText(userForm("email"),'required -> "true", 'size ->20)   
@inputPassword(userForm("pass"),'required -> "true", 'size ->20)
@inputPassword(userForm("pass2"),'required -> "true", 'size ->20)

<input type="submit" value="Registrar">

} }
