@(userForm: Form[Application.UserForm])

@import play.i18n._ 
@import helper._

@main("Registrar") {
<meta charset="UTF-8">

	<h2>Formulario de registro</h2>

	@if(userForm.hasGlobalErrors) {
	<p class="error">
		@userForm.globalError.message
	</p>
	}
	    
	@helper.form(routes.Application.newUser) {
	
		@inputText(userForm("userName"), '_label->"Usuario:" , 'required -> "true", 'size ->20)
		@inputText(userForm("name"), '_label->"Nombre:",'required -> "true", 'size ->20)
		@inputText(userForm("surname"),'_label->"Apellidos:",'required -> "true", 'size ->20)
		@inputText(userForm("email"),'_label->"Email:",'required -> "true", 'size ->20)
		@inputPassword(userForm("pass"),'_label->"Contraseña",'required -> "true", 'size ->20)
		@inputPassword(userForm("pass2"),'_label->"Repita contrseña",'required -> "true", 'size ->20)
	
	<input type="submit" value="Registrar">

	}
}
