@(countries: List[Country], form: Form[Application.CountryTemp])
@import play.i18n._

@main(Messages.get("list.countries")) {

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/paises.css")">

<title>Seleccion de paises</title>

</head>
<body>
	<center>
		<h2>Introducir el Codigo de los dos paises a comparar</h2>
	</center>
	<section id="paises">

		@helper.form(routes.Application.comparar){ 
		<table>
		<th>Codigo-
		<th>Nombre
		@for(country <- countries){
		
		<tr>
			<td>@country.code</td>
			<td>@country.name</td>
		</tr>
		<br> 
		}
	</table>
	</section>

	<section id="enviarpais">
	<table>
	<tr>
	<td>Codigo del primer Pais	
	</td>
	<td><input type="text" name="primero"  value="@form("PrimerPais").value">
	</td>
	</tr>
	
	<tr>
	<td>Codigo del segundo Pais	
	</td>
	<td> <input type="text" name="segundo" value="@form("SegundoPais").value">
	</td>
	</tr>
	</table>
	
	<br>

		<input type="submit" value="Comparar"> 
	}
	@helper.form(routes.Application.graficas){ 
	<input type="submit" value="Graficas">
	}
		
	</section>
	
</body>

}