@(urls: List[UrlRepository]) 
@import play.i18n._ 
@import helper._ 
@main("Lista de Urls") {

	<h1>@Messages.get("url.list")</h1>
		<table>
			@for(url <- urls) {
			<tr>
				<td>@url.getUrl()</td>			
				<td>@helper.form(routes.Admin.deleteUrl(url.getId())) { 
					<input type="image" src="@{routes.Assets.at("images/delete.gif")}" alt='Borrar Url'> 
				}
				</td>
			</tr>
			}
		</table>
		
		<h1>@Messages.get("url.add")</h1> 
		@helper.form(routes.Admin.addUrl()){
		<input type="text" name="url" placeholder="@Messages.get("url.address")">
		<input type="submit" value="@Messages.get("url.add")">
		
		}
		<br>
	
	
}
